*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form-container{
    border: none;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: .3rem;

}
.field-container{
    display: flex;
    flex-direction: column;
}
.field-container-password{
    display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        position: relative;
}
input[type='password']{
    width: 100%;
}
input[type='text'] {
    width: 100%;
}
input{
    margin: .9rem 0;
    padding: 1rem;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: .3rem;
}
input:focus {
    background-color: hsl(246, 25%, 77%)b;
}


.btn-1, .btn-2 {
    border: none;
    text-align: center;
    border-radius: .7rem;
    color: #fff;
    margin: 1rem auto;
    box-shadow: 0 8px rgba(0, 0, 0, .15);
}
.btn-2{
    background-color: hsl(154, 59%, 51%);
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px hsl(154, 40%, 51%);
}
.btn-1{
    background-color: hsl(248, 32%, 49%);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 4rem;
line-height: 1.5rem;
margin-bottom: 0;
   
        
}
.btn-1 span{
    font-weight: 700;
    word-spacing: .001rem;
}
.error-message{
    color: red;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    text-align: right;
    font-style: italic;
}
.footer{
    font-size: .5rem;
    color: hsl(246, 25%, 77%);
    word-spacing: .09rem;
    padding: 0;
        margin-top: .6rem;
}
.footer-span{
    color: red;
}
.footer-span:hover, .footer-span:active{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.signed-in {
    margin: .5rem 0;
font-size: 1rem;
text-align: center;
background-color: green;
border-radius: .5rem;


}
.eye {
    width: 10%;
    position: absolute;
    top: 35%;
    right: 1rem; 
    cursor: pointer;

}
@media screen and (min-width: 991px) {
    :root{
        font-size: 15px;
    }
    .form-gl-container{
        justify-content: center;
        width: 45%;
        padding: 1rem;
    }
    .form-container{
        margin-top: .7rem;
    }
        .signed-in {
            margin: .5rem 0 0;
            padding: 0;
            font-size: 1rem;
            
            background-color: green;
            border-radius: .6rem;    
        }
        .signed-in p{
            text-align: center;
            padding: .9rem;
            margin: 0;
        }
input {
    margin: .9rem 0;
    padding: 1rem;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: .3rem;
    font-size: .8rem;
}

.btn-1,
.btn-2 {
    margin: 1rem auto;
  
}

.btn-2 {
    background-color: hsl(154, 59%, 51%);
    display: flex;
    width: 100%;
    padding: .8rem 1rem;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px hsl(154, 40%, 51%);
    /* font-size: .5rem; */
}

.btn-1 {
    background-color: hsl(248, 32%, 49%);
    font-size: .9rem;
    font-weight: 300;
    padding: 1rem 5.19rem;
    line-height: 1rem;
    margin-bottom: 0;


}
/* .eye {
    position: absolute;
    top: 95.5%;
    right: 10%;
    cursor: pointer;
} */
.btn-1 span {
    font-weight: 600;
    word-spacing: -.0301rem;
}

.error-message {
    color: red;
    margin: 0;
    padding: 0;
    font-size: .6rem;
    text-align: right;
    font-style: italic;
}
.footer{
    padding: 0;
    margin-top: .4rem;
    font-size: .5em;
    text-align: center;
}
}